* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h3 {
    text-align: center;
    color: gray;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input::placeholder {
    font-size: 12px;
    color: gray;
}

a {
    color: #7c9ab7;
    font-weight: bold;
}

p {
    margin: 10px 0;
    font-size: 16px;
}

button {
    cursor: pointer;
    background-color: rgb(0, 153, 255);
    padding: 10px 20px;
    font-size: 15px;
    color: white;
    border-radius: 30px;
    border: 2px solid rgb(0, 110, 255);
}

button:hover {
    background-color: rgb(0, 162, 255);
}

.autorized_form{
    text-align: center;
    color: gray;
    border: 1px solid gray;
    padding: 20px 50px 20px 50px;
}



h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 60px 0 60px 0;
}

li {
    margin-bottom: 20px;
}

.container_info {
    display: flex;
    width: 300px;
    flex-direction: column;
    background-color: rgb(41, 100, 90);
}

.cookie_dump_container {
    background-color: rgb(41, 100, 90);
    border: 1px solid black;
 
}

.cookie_display {
    background-color: burlywood;
    border: 1px solid black;
  
}
button#forgetMeButton{
    background-color: rgba(219, 28, 28, 0.664);
    border: 2px solid rgba(219, 28, 28, 0.521);
}
button#forgetMeButton:hover {
    background-color: rgba(199, 23, 23, 0.596);
  }